---
import Layout from "../layouts/Layout.astro";

import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import Briefcase from "../assets/icons/Briefcase.astro";
import Experience from "../components/Experience.astro";
import Code from "../assets/icons/Code.astro";
import Project from "../components/Project.astro";
import UserHeart from "../assets/icons/UserHeart.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout
  title="Portfolio de Kerly - FullStack Developer con 2 años de experiencia"
  description="Contrata a kerly para que tu equipo sea el mejor y único de la empresa. Me gusta aprender y no rendirme a retos"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
      </Hero>
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <Briefcase class="size-8" />
          Experiencia laboral
        </h2>
        <Experience />
      </SectionContainer>
  
      <SectionContainer id="proyectos">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
          <Code class="size-7" />
          Proyectos
        </h2>
        <Project />
      </SectionContainer>
      
      <SectionContainer id="sobre-mi">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
        >
        <UserHeart />
          Sobre mí
        </h2>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
  