---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Diciembre 2021 - Actualmente",
    title: "FullStack Developer - Capgemini SL",
    description: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
    link: "#",
  },
  {
    date: "Marzo 2021",
    title: "Junior Software Developer - Neoris",
    description: "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb",
  },
/*   {
    date: "April 2022",
    title: "11111111111111",
    description: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
  }, */
];
---

<ol class="relative border-s border-gray-200 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6 ml-8">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
