---
import Image from '../components/Image.astro';
import ThemeToggle from "../components/ThemeToggle.astro"

// Propiedades de la página
const imageSrc = './IMG_6788.webp';
const imageAlt = 'photo ker';
---

<header class="flex justify-between items-center py-5 w-full  xl:w-[1120px] mx-auto">
    <Image 
        src={imageSrc} 
        alt={imageAlt} />
    
    <nav class="flex flex-row gap-x-10 opacity-90"> 
        <a href="#top"> Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#contacto">Contacto</a>

        <ThemeToggle />

    </nav>
</header>



